{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% block favicon %}<link rel="shortcut icon" href="https://img.freepik.com/premium-vector/login-icon-vector_942802-6299.jpg" type="image/x-icon">{% endblock %}

{% block content %}

<body class="flex h-full" style="background-color: #f9fafb;">
    <div class="flex items-center justify-center grow bg-cover">
        <div class="card w-full max-w-[420px] sm:max-w-[340px]">
            <form class="card-body flex flex-col gap-3" autocomplete="off">
                <div class="text-center">
                    <h1 class="font-semibold text-lg text-gray-800 mb-1">Sign in to your account</h1>
                </div>
                <div class="flex flex-col gap-1">
                    <label class="form-label">Email Address</label>
                    <input class="input" type="email" placeholder="Enter the email address" id="email">
                </div>
                <div class="flex flex-col gap-1">
                    <label class="form-label">Password</label>
                    <input class="input" type="password" placeholder="Enter the password" id="password">
                    <label class="text-danger text-2sm"></label>
                </div>
                <div>
                    <p class="text-2sm text-gray-700">Forget your password? <a class="text-info" href="/forgetpassword">Click Here</a> </p>
                </div>
                <button class="btn btn-info flex justify-center" id="SignIn">Sign in</button>
            </form>
    </div>
    </div>
</body>

{% endblock %}

{% block scripts %}<script src="{% static 'js/login.js' %}"></script>{% endblock %}